<html lang="en">
  
  <head>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Snacks In A Van </title>

    <link 
      rel="stylesheet" 
      href="/css/styles.css"
    />
    <link 
      rel="stylesheet" 
      href="/css/toast.css"
    />
    <link 
      rel="preconnect" 
      href="https://fonts.gstatic.com"
    />
    <link 
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Rammetto+One&display=swap"
    />
    {{!-- <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script> --}}
    <link 
      rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
      crossorigin="anonymous"
    />
    <link 
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link 
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link 
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"
    />
    <link 
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"
    />
    <link 
      rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css"
    />
    <link 
      rel="stylesheet" 
      href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link 
      rel="stylesheet" 
      href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
    />
    <link 
      rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/animate.css"
    />
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css" rel="stylesheet">
    {{!-- <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script> --}}
    <script src="https://cdn.jsdelivr.net/npm/jquery"></script>
    <script src="/js/art-template.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script src="/js/jquery.barrating.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.js"></script>
    <script src="/socket.io/socket.io.js"></script>

  </head>

  <body>

    <nav>
      <div id="mySidenav" class="sidenav">
        <a
          href="javascript:void(0)"
          class="closebtn"
          onclick="closeNav()"
        >&times;</a>
        {{!-- <a class="customer" href="/customer/">Homepage</a>
        <a class="customer" href="/customer/vendorlist">Select Vendor</a>
        <a class="customer" href="/customer/menu">Menu</a>
        <a class="customer" href="/customer/order">Order</a>
        <a class="customer" href="/customer/account">Account</a>
        <a class="customer" href="/customer/login">Customer Login</a>
        <a class="customer" href="/customer/logout">Logout</a>

        <a class="vendor" href="/vendor/location">Van Location</a>
        <a class="vendor" href="/vendor/order">Order</a>
        <a class="vendor" href="/vendor/account">Account</a>
        <a class="vendor" href="/vendor/login">Vendor Login</a>
        <a class="vendor" href="/vendor/logout">Vendor Login</a>   --}}
        

        {{!-- {{#if userType}}
          <a href="/customer/login">Customer Login</a>
        {{else}}
          <a href="/vendor/login">Vendor Login</a>       
        {{/if}}

        {{#if user}}
          <a href="/customer/logout">Logout</a>
        {{else}}
          <a href="/vendor/login">Login</a>
        {{/if}} --}}

      </div>

      <span
        style="font-size:25px;cursor:pointer"
        onclick="openNav()"
      >&#9776;</span>

      <script>
        function openNav() { 
          document.getElementById("mySidenav").style.width ="250px";
        } 
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
      </script>
      {{! <hr size="30"> }}

      <div class="header--cart">
        <a href="javascript:;" id="goToCart" class="fa fa-shopping-cart"></a>
      </div>
    </nav>

    <header>
      <h1><a href="/">Snacks In A Van</a></h1>
    </header>

    <main>
      {{{body}}}
    </main>
    <footer>
      <p>&copy; 2021 &nbsp;|&nbsp; Team Generator</p>
      <p>INFO30005 Web Information Technologies</p>
    </footer>

    <script id="tpl-nav" type="text/html">
        <a
          href="javascript:void(0)"
          class="closebtn"
          onclick="closeNav()"
        >&times;</a>
        <% if (isLogin) { %>
          <% if (userType !== 'vendor') { %>
            <a class="customer" href="/customer/">Homepage</a>
            <a class="customer" href="/customer/vendorlist">Select Vendor</a>
            <a class="customer" href="/customer/menu">Menu</a>
            <a class="customer" href="/customer/order">Order</a>
            <a class="customer" href="/customer/account">Account</a>
            <a class="customer logout" href="/customer/logout">Logout</a>
          <% } else { %>
            <a class="vendor" href="/vendor/location">Van Location</a>
            <a class="vendor" href="/vendor/order">Order</a>
            <a class="vendor" href="/vendor/account">Account</a>
            <a class="vendor logout" href="/vendor/logout">Vendor Logout</a>
          <% } %>
        <% } else { %>
          <a class="customer" href="/customer/">Homepage</a>
          <a class="customer" href="/customer/vendorlist">Select Vendor</a>
          <a class="customer" href="/customer/menu">Menu</a>
          <a class="customer" href="/customer/order">Order</a>
          <a class="customer" href="/customer/account">Account</a>
          <a class="customer" href="/customer/login">Customer Login</a>

          <a class="vendor" href="/vendor/location">Van Location</a>
          <a class="vendor" href="/vendor/order">Order</a>
          <a class="vendor" href="/vendor/account">Account</a>
          <a class="vendor" href="/vendor/login">Vendor Login</a>
        <% } %>
        
    </script>

    <input type="hidden" id="isLogin" value="{{user}}">
    <script src="/js/toast.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script>
      var userType = window.sessionStorage.getItem('userType')
      var isLogin = Cookies.get('connect.sid');

      $(function() {
        var $mySidenav = $('#mySidenav')

        // Display content based on login type
        var html = template('tpl-nav', {userType:userType,isLogin:isLogin})
        $mySidenav.html(html)

        // logout
        $mySidenav.on('click', 'a.logout', function(e) {
          e.preventDefault()

          var url = '';
          var loginUrl = ''
          if ($(this).hasClass('vendor')) {
            url = '/vendor/logout'
            loginUrl = '/vendor/login'
          } else {
            url = '/customer/logout'
            loginUrl = '/customer/login'
          }

          $.ajax({
              type: 'POST',
              url: url
          }).always(function() {
            Cookies.remove('connect.sid')
            window.sessionStorage.setItem('userType', '')

            window.location.href = loginUrl
          })
        })
        

        $('#goToCart').click(function() {
          {{!-- window.sessionStorage.setItem('orderId', '') --}}
          window.location.href = '/customer/cart'
        })
      })
    </script>

  </body>

</html>