<center>
    <section>
        <h3></h3><a id="customer" type="submit" href="/customer">Customer</a></h3>
        <h3><a id="vendor" href="/vendor">Vendor</a></h3>
    </section>

    <form>
        
    </form>

   
</center>

<script>
    /*
    $(function() {
        var $customer = $('#customer')

        $customer.click(function(e) {
            e.preventDefault()
            window.sessionStorage.setItem('user', 'customer')
            console.log(123)

            customer()
            $.ajax({
                type: 'POST',
                url: '/customer',
                data: {
                    userType: 'customer'
                }     
            }).done(function(res) {
                console.log(321)
                window.location.href = "/customer"
            })
        })

    })
    */
</script>






