<center>
  <section>
    <h3 class="customer-button"><a id="customer" href="/customer">Customer</a></h3>
    <h3 class="vendor-button"><a id="vendor" href="/vendor">Vendor</a></h3>
  </section>
</center>
