<h1>menu items</h1>

{{#each menu}}

<ul>

    <li>{{this.snackName}} 
        <img src="https://source.unsplash.com/{{this.image}}" alt="snack item images from unsplash source"> 
        Price: ${{this.price}}</li>

</ul>


{{/each}}