{{#each account}}

    {{!-- below is the account details for the vendor to view --}}
    <div id="vendorAccountDetails">
        UserID: {{this.userID}} <br/>
        Is the user online? {{this.isOnline}} <br/>
        Current address: {{this.textAddress}} <br/>
    </div>

    {{!-- below is the form for entering details and changing address --}}
    <form action="/vendor/{{this._id}}/account" method="post">
        <label for="textAddress">Enter new address: </label>
        <input id="textAddress" type="text" name="textAddress">
        {{!-- <label for "userID">Enter userID: </label>
        <input id="userID" type="text" name="userID"> --}}
        <button type="submit">Submit New Address</button>
    </form>

{{/each}}