{{!-- <section id='detailVendorOrder'>
    {{#orderDetail orders}}{{/orderDetail}}
</section> --}}


<h1>Details of Order</h1>

{{#each orders}}

    {{!-- orderDetails requires: order number, customer given name, items ordered and how many more minutes  --}}
    <div id="orderDetails">
        {{this.orderNumber}}
        Customer name: {{this.customerID.lastName}} 
 

    </div>
  
      

{{/each}}

