/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* central area to control type and colour */

:root {
  --text-big: 36px;
  --text-medium: 22px;
  --text-small: 16px;
  --font-body: 'Montserrat', sans-serif;
  --font-heading: 'Rammetto One', cursive;
  --color-dark: #2699FB;
  --color-medium: #f1f9ff;
  --color-light: #f1f9ff;
  --color-grey: #cacbda;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.lg--text {
  font-size: 1.2em;
}


/* elements that are on every page */

body {
  font-family: var(--font-body);
  font-size: var(--text-medium);
  background-color: var(--color-light) !important;
  color: var(--color-dark);
}

header,
footer {
  color: var(--color-dark);
  background-color: var(--color-medium);
  text-align: center;
  /* font-family: var(--font-heading); */
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

header {
  /* "sticky header" which stays at the top of the screen */
  position: sticky;
  top: 0;
  z-index: 99;
}

h1 {
  text-align: center;
  font-size: var(--text-big);
  color: var(--color-dark);
  margin-top: 0;
}

a {
  text-decoration: none;
  /* switch off underlining of anchors */
  color: #7d8de7;
}

a #foodBrowse:hover {
  /* instead, get anchors to expand when hovered over */
  font-size: larger;
}

header h1 a {
  color: var(--color-dark);
}

h2 a {
  padding: 0%;
}

footer p {
  margin-bottom: 1;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-light);
  color: var(--color-dark);
  text-align: center;
}

.navigation-bar {
  display: flex;
  justify-content: center;
}

table {
  width: 25%;
}

hr {
  border: none;
  height: 3px;
  /* Set the hr color */
  color: #333;
  /* old IE */
  background-color: #333;
  /* Modern Browsers */
}


/***************************************************************************************************************************/

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #7FC4FD;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
  color: #2d3e68;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.header--cart {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 100;
  font-size: 20px;
  text-decoration: none;
}


/* cart list */

.container-- {
  padding: 30px;
}

.container--content {
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
}

.cart--list,
.cart--list__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cart--list {
  /* margin: 0 auto; */
  /* max-width: 400px; */
}

.cart--list__item {
  margin: 10px;
}

.cart--list__item h3 {
  margin-bottom: 10px;
}

.cart--list__item p {
  margin-bottom: 4px;
}

.item--info {
  /* width: 230px; */
}

.item--info__desc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item--side__count {
  font-size: 20px;
  text-align: right;
}

.item--side__count b {
  font-size: 40px;
}

.item--side__count .count--input {
  width: 60px;
  font-size: 40px;
  text-align: center;
}

.item--side__ctrl {
  margin-top: 10px;
  text-align: right;
}

.cart--footer {
  /* margin: 0 auto;
  max-width: 400px; */
}

.login--form {
  margin: 0 auto;
  padding: 40px;
  max-width: 400px;
}

.form-group {
  padding: 10px 0;
}


/* rating */

.br-theme-css-stars {
  display: inline-block;
}

.br-theme-css-stars .br-widget {
  height: 28px;
  white-space: nowrap;
}

.br-theme-css-stars .br-widget a {
  text-decoration: none;
  height: 18px;
  width: 18px;
  float: left;
  font-size: 23px;
  margin-right: 5px;
}

.br-theme-css-stars .br-widget a:after {
  content: "\2605";
  color: #d2d2d2;
}

.br-theme-css-stars .br-widget a.br-active:after {
  color: #EDB867;
}

.br-theme-css-stars .br-widget a.br-selected:after {
  color: #EDB867;
}

.br-theme-css-stars .br-widget .br-current-rating {
  display: none;
}

.br-theme-css-stars .br-readonly a {
  cursor: default;
}


/* row */

.row>div {
  padding: 10px 0;
}


/* order */
.text--muted {
  display: inline-block !important;
  padding: 5px 10px !important;
  text-align: center;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
  transition: margin-left .5s;
  padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}


/***************************************************************************************************************************/

#foodList p {
  /* the words at the top of the page */
  text-align: center;
  flex-basis: 60%;
}

#foodList ul {
  /* the list of foods */
  padding: 30px;
}

#foodList li {
  /* each individual food listing */
  list-style-type: none;
  /* switch off bullet-points */
  display: flex;
  flex-direction: row;
  /* image and text are side-by-side */
  justify-content: center;
  /* text aligns left */
  align-items: center;
  /* and vertically aligns to center */
  margin-bottom: 30px;
}

#foodList img {
  /* images in food listings */
  width: 200px;
  height: 140px;
  padding: 10px;
  object-fit: cover;
}

#foodList a {
  /* the food names */
  /* color: var(--color-dark); */
}

form {
  /* centre the form */
  display: flex;
  justify-content: center;
}

form input {
  font-size: var(--text-medium);
}

form input[type$=submit] {
  /* submit button - note use of attribute selector */
  background-color: var(--color-medium);
}

form span.bigScreen {
  /* on small screens, hide some of the wording */
  display: none;
}


/* the page showing details about an individual food */

#oneFood-details {
  /* picture, description and table */
  display: flex;
  flex-direction: column;
  padding: 30px;
}

#oneFood-text {
  padding: 10px;
}

#oneFood a h1 {
  color: #7d8de7;
}

#oneFood img {
  /* centre the image */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

#oneFood p {
  /* the "description" text */
  font-size: var(--text-small);
  text-align: center;
  color: #7d8de7;
}

#oneFood table {
  /* the table of nutritional data */
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  background-color: var(--color-grey);
  border: solid grey 1px;
}

#oneFood td:first-child {
  /* the first td in each row of the table */
  text-decoration: underline;
  text-align: right;
}

a#favourite {
  /* the heart-shaped 'favourite' button */
  font-size: 100px;
  color: lightgrey;
  display: block;
  text-align: center;
  margin: 0;
}

a#favourite:hover {
  color: green;
}


/* Modal (background) */

.modal-background {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}


/* Modal (content) */

.modal-foreground {
  background-color: var(--color-medium);
  text-align: center;
  margin: 30% auto;
  /* 15% from the top and centered */
  width: 50%;
}

.menu--list {
  padding: 30px;
}

.menu--list__item {
  text-align: center;
}

.menu--list__item img {
  width: 100%;
}


/* account */

.account--list {
  margin: 0 auto;
  max-width: 400px;
}

.account--list .list-group-item {
  position: relative;
  padding: 0 10px 0 110px;
  margin-bottom: 10px;
  height: 40px;
  line-height: 40px;
  border-top-width: 1px !important;
}

.account--list .list-group-item a {
  display: block;
  height: 40px;
}

.list--label {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 10px;
  color: #fff;
  width: 100px;
  height: 38px;
}

.account--dialog {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 900;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.account--dialog__header {
  padding: 10px;
}

.account--dialog__header--showlist {
  position: absolute;
  right: 30px;
  top: 10px;
}

.account--dialog__content {
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
}

.account--dialog__content .form-group {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

/* Customer homepage */

.customer-search {
  padding: 120px 0px;
}

/* Customer Order */

#customer-order .row {
  margin-bottom: 10px;
}

#customer-order .card {
  margin: 10px;
}

#customer-order #info-row {
  margin-right: 0px;
  margin-left: 10px;
}

#customer-order-list .container {
  padding: 0px 20px;
}

#customer-order-progress {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

#customer-order-progress .progress-bar {
  display: flex;
  height: 40px;
  align-items: center;
}

#customer-order-progress .progress-bar h6{
  margin-bottom: 0px;
}

#customer-order-list {
  width: 73%;
  margin-bottom: 0px;
}


/* Vendor order */
.vendor--order__history {
  margin-top: 20px;
}
.card .row {
  margin-left: 0;
  margin-right: 0;
}
.text-right {
  text-align: right;
}
.list-group-item a {
  display: block;
}

/* Van location */
.location--map {
  width: 100%;
  min-height: 400px;
}

/* map */
.map--head__icon {
  position: fixed;
  right: 40px;
  top: 11px;
  z-index: 100;
}
.view--map {
  width: 100%;
  min-height: 360px;
}
.vendor--list {
  overflow: auto;
  height: calc(100vh - 460px);
}

/* Responsive Design */

@media screen and (min-width: 768px) {
  /* for tablet-sized screens */
  #foodList ul {
    /* flow food list into two columns */
    column-count: 2;
  }
  #oneFood-details {
    flex-direction: row;
    /* now picture and text are side-by-side */
  }
  #oneFood-picture {
    /* divide the sceren into two halves */
    flex-basis: 55%;
  }
  #oneFood-text {
    flex-basis: 40%;
  }
  #oneFood p#description {
    /* increase font size of food description */
    font-size: var(--text-medium);
    text-align: left;
  }
  form span.bigScreen {
    /* spell out abbreviated words in full */
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  #foodList ul {
    column-count: 3;
  }
}

@media screen and (min-width: 1600px) {
  #foodList ul {
    column-count: 4;
  }
}

.customer-button {
  display: block;
  padding: 140px 0px 15px;
}

.vendor-button {
  display: block;
  padding: 15px 0px 140px;
}

main {
  min-height: 520px;
}
