<section id='addressfrom'>
  <h1>Find Nearest Vendors</h1>
  <div class="customer-search">
    <center>
      <button id="search" type="button" class="btn btn-primary">Search</button>
    </center>
  </div>
</section>

<script>
  $(function() {
    // Cache JQ elements
    var $search = $('#search')
    // handle button click
    $search.click(function(e) {
      // handle empty input
      e.preventDefault()

      gbmsg.loading();

      function callback(location) {
        // assign a default location if no location data is received
        if (!location.coords) location.coords = {
            latitude: -37.79826461755695,
            longitude: 144.96144405198987
        }
        console.log(`${location.coords.latitude},${location.coords.longitude}`)
        // save location post request
        $.ajax({
          type: 'POST',
          url: '/customer/',
          data: {
            longitude: location.coords.longitude,
            latitude: location.coords.latitude
          }
        }).done( function(res) {
          // handle success request
          console.log('res', res)
          window.location.href = '/customer/map'
        }).fail( function(jqXHR) {
          // handle failed request
          console.log('jqXHR', jqXHR)
          var res = jqXHR.responseJson || {}
          var errs = res.message || []
          alertify.alert('Location Error', errs[0] || 'Failed to get your current location. Please try again later.')
        }).always(function(){
          gbmsg.hide()
        })
      }

      // get current location
      navigator.geolocation.getCurrentPosition(callback, callback)

    })
  })
</script>
