<section>
    <h2>List of 5 nearest vans:</h2>
    <ul>
        <li> Location 1 </li>
        <li> Location 2 </li>
        <li> Location 3 </li>
        <li> Location 4 </li>
        <li> Location 5 </li>
    </ul>
</section>



















