<section class='container--'>

  <div class="container--">
    <div class="card container--content" style='width: 18rem;' id="list">
    {{#each vendors}}
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <h5 class='card-title'>{{this.username}}</h5>
          <p class='card-text'>{{this.textAddress}}</p>
          <p class='card-text'>{{this.distance}} km away</p>
        </div>
      </div>
      <button id="submit" type="button" data-id="{{this._id}}" class='submit btn btn-primary'>Order Here</button>
    </div>
    {{/each}}
    </div>
  </div>
</section>

<script type="text/javascript">
  $(function() {
    // order here button
    $('#list').on('click', 'button.submit', function(e) {
      // get the venderId of selected vendor
      let vendorID = $(this).attr('data-id')
      // store in session storage temporarily
      window.sessionStorage.setItem('vendor', vendorID)
      // handle click
      $.ajax({
        type: 'POST',
        url: '/customer/map',
        data: {
            _id: vendorID
        }
      }).done( function(res) {
        // handle success request
        console.log(res)
        window.location.href = '/customer/menu'
      }).fail( function(jqXHR) {
        // handle failed request
        console.log('jqXHR', jqXHR)
        var res = jqXHR.responseJSON || {}
        var errs = res.message || []
        alertify.alert('Location Error', errs[0] || 'Failed to select the specified vendor. Please try again later.')
        gbmsg.failure(errs[0] || 'Failed')
      }).always(function() {
        gbmsg.hide()
      })
    })
  })
</script>
