<section id="loginform">
    <h1>Please sign up</h1>

    <div class="login--form">
      <div class="form-group">
        <label>First name</label>
        <input placeholder="First name" type="text" class="form-control" name='firstname' id='firstname'>
      </div>
      <div class="form-group">
        <label>First name</label>
        <input placeholder="Last name" type="text" class="form-control" name='lastname' id='lastname'>
      </div>
      <div class="form-group">
        <label>Username</label>
        <input placeholder="Username" type="text" class="form-control" name='username' id='username'>
      </div>
      <div class="form-group">
        <label>Email address</label>
        <input placeholder="name@example.com" type="email" class="form-control" name='email' id='email'>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input placeholder="Password" type="password" class="form-control"  name='password' id='password'>
      </div>

      <div class="form-group">
        <label>Confirm password</label>
        <input placeholder="Confirm password" type="password" class="form-control" name='repassword' id='repassword'>
      </div>

      <button type="submit" class="btn btn-primary center-block " id="submit">Submit</button>
      <a href="/customer/login">Login</a>
    </div>
</section>

<script>
  $(function() {
    var $firstname = $('#firstname')
    var $lastname = $('#lastname')
    var $username = $('#username')
    var $email = $('#email')
    var $password = $('#password')
    var $repassword = $('#repassword')
    var $submit = $('#submit')

    $submit.click(function(e) {
      e.preventDefault()
      if (!$firstname.val()) {
        gbmsg.failure('Please enter first name')
        return
      }

      if (!$lastname.val()) {
        gbmsg.failure('Please enter last name')
        return
      }

      if (!$username.val()) {
        gbmsg.failure('Please enter username')
        return
      }

      if (!$email.val()) {
        gbmsg.failure('Please enter Email')
        return
      }

      if (!$password.val()) {
        gbmsg.failure('Please enter Password')
        return
      }

      if ($password.val() !== $repassword.val()) {
        debugger
        gbmsg.failure('Two password entries are inconsistent')
        return
      }

      gbmsg.loading();

      $.ajax({
        type: 'POST',
        url: '/customer/api/signup',
        data: {
          firstName: $firstname.val(),
          lastName: $lastname.val(),
          username: $username.val(),
          email: $email.val(),
          password: $password.val() 
        }
      }).done(function( res ) {
         console.log('res', res)
         alertify.alert('Title', `Registered successfully, please <a href="/customer/login">login</a>`);
      }).fail(function(jqXHR) {
        console.log('jqXHR', jqXHR)
        var res = jqXHR.responseJSON || {}
        var errs = res.errors || []
        alertify.alert('Title', errs[0] || 'Failed！');
      }).always(function() { 
        gbmsg.hide()
       });
    })

  })
</script>